*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

img,
video,
embed
{
	max-width: 100%;
	vertical-align: middle;
}

input,
select,
textarea,
button {
	font-size: inherit;
	font-family: inherit;
}